body {
    font-family: 'Sen';
    padding: 2vw;
    background-color: white;
  }
  
  .header {
      font-size: 18pt;
      color: black;
  }

  .subheading {
    font-size: 16pt;
    color: black;
  }
  
  .text {
      color: black;      
      font-size: 14pt;
      text-align: justify;
      word-wrap: normal;
  }
  @media (min-width: 30rem) {
    img {
      float: right;
      max-width: 30%;
      margin: 0 0 1rem 1rem;
    }
  }